go 1.25.0

use (
    .
    ./builder
    ./cc
    ./cc/v3
    ./cc/v4
    ./cc/v5
    ./ccgo
    ./ccgo/v3
    ./ccgo/v4
    ./ccir
    ./ccorpus
    ./ccorpus2
    ./crt
    ./crt/v2
    ./crt/v3
    ./ebnf
    ./ebnfutil
    ./fileutil
    ./gc
    ./gc/v2
    ./gc/v2/internal/ebnf
    ./gc/v3
    ./goabi0
    ./golex
    ./httpfs
    ./internal
    ./ir
    ./irgo
    ./issue198
    ./lex
    ./lexer
    ./libc
    ./libsqlite3
    ./mathutil
    ./memory
    ./opt
    ./scannertest
    ./sortutil
    ./strutil
    ./token
    ./vendor_libs
    ./virtual
    ./xc
    ./y
	./gomod
	./libtcl8.6
	./libz
	./parser
	./scanner
)
