go 1.26.0

use (
	.
	./e2e/backup
	./e2e/basics
	./e2e/collation
	./e2e/columninfo
	./e2e/compilers
	./e2e/concurrency
	./e2e/context
	./e2e/functions
	./e2e/hooks
	./e2e/integration
	./e2e/ir
	./e2e/libs
	./e2e/parsing
	./e2e/serialization
	./e2e/tools
	./e2e/transactions
	./e2e/types
	./e2e/utilities
	./e2e/vtab
	./issue198
	./pkg/builder
	./pkg/cc
	./pkg/cc3
	./pkg/cc4
	./pkg/cc5
	./pkg/ccgo
	./pkg/ccgo3
	./pkg/ccgo4
	./pkg/ccir
	./pkg/ccorpus
	./pkg/ccorpus2
	./pkg/crt
	./pkg/crt2
	./pkg/crt3
	./pkg/ebnf
	./pkg/ebnfutil
	./pkg/fileutil
	./pkg/gc
	./pkg/gc2
	./pkg/gc3
	./pkg/goabi0
	./pkg/golex
	./pkg/gomod
	./pkg/httpfs
	./pkg/internal
	./pkg/ir
	./pkg/irgo
	./pkg/lex
	./pkg/lexer
	./pkg/libc
	./pkg/libsqlite3
	./pkg/libtcl8.6
	./pkg/libz
	./pkg/mathutil
	./pkg/memory
	./pkg/opt
	./pkg/parser
	./pkg/scanner
	./pkg/scannertest
	./pkg/sortutil
	./pkg/strutil
	./pkg/token
	./pkg/uint128
	./pkg/vendor_libs
	./pkg/virtual
	./pkg/xc
	./pkg/y
)
