go 1.26.0

use (
	.
	./v2/builder
	./v2/cc
	./v2/cc3
	./v2/cc4
	./v2/cc5
	./v2/ccgo
	./v2/ccgo3
	./v2/ccgo4
	./v2/ccir
	./v2/ccorpus
	./v2/ccorpus2
	./v2/crt
	./v2/crt2
	./v2/crt3
	./v2/ebnf
	./v2/ebnfutil
	./v2/fileutil
	./v2/gc
	./v2/gc2
	./v2/gc3
	./v2/goabi0
	./v2/golex
	./v2/gomod
	./v2/httpfs
	./v2/internal
	./v2/ir
	./v2/irgo
	./v2/lex
	./v2/lexer
	./v2/libc
	./v2/libsqlite3
	./v2/libtcl8.6
	./v2/libz
	./v2/mathutil
	./v2/memory
	./v2/opt
	./v2/parser
	./v2/scanner
	./v2/scannertest
	./v2/sortutil
	./v2/strutil
	./v2/token
	./v2/uint128
	./v2/vendor_libs
	./v2/virtual
	./v2/xc
	./v2/y
	./issue198
	./e2e/hooks
	./e2e/types
	./e2e/concurrency
	./e2e/serialization
	./e2e/context
	./e2e/basics
	./e2e/transactions
	./e2e/functions
	./e2e/collation
	./e2e/backup
	./e2e/vtab
	./e2e/columninfo
	./e2e/integration
	./e2e/utilities
	./e2e/parsing
	./e2e/compilers
	./e2e/ir
	./e2e/libs
	./e2e/tools
)
